services:
  axiscloud:
    build: .
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - app-network   
  mongo:
    build:
      context: .
      dockerfile: src/config/Dockerfile
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
       - app-network       
volumes:
  mongo-data:
networks:
  app-network: {
    driver: bridge
  }