services:
  
   
  redis:
    image: redis:latest
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - app-network
volumes:
  redis-data:
networks:
  app-network: 
    driver: bridge
  